<%= form_for user do |f| %>
    <div class="form">
        <%= f.label :User_name %><br>
        <%= f.text_field :username %>
    </div>
    <div class="form">
        <%= f.label :User_password %><br>
        <%= f.password_field :password %>
    </div>
    <div class="form">
        <%= f.label :confirm_password %><br>
        <%= f.password_field :password_confirmation %>
    </div>
    <%= f.submit "Sign Up"%>
<% end %>