<h1><%= @product.name %></h1>
<%= link_to "Back",products_path %>
<br>
<%= image_tag(@product.url) %>
<br>
<%= link_to "Add Review",new_product_review_path(@product) %>
<% @reviews.each do |review| %>
    <li><%= review.user %> gave this product <%= review.stars %> stars
    <p><%= review.message %></p>
    <p><%= link_to "View Review",product_review_path(@product,review)%> | <%= link_to "Edit Review",edit_product_review_path(@product,review) %></p></li>
<% end %>