<%= form_for [product,review] do |f| %>
    <div class="form">
        <%= f.label :number_of_stars %><br>
        <%= f.number_field :stars %>
    </div>
    <div class="form">
        <%= f.label :review %><br>
        <%= f.text_area :message %>
    </div>
    <%= f.submit %>
<% end %>