<!DOCTYPE html>
<html>
  <head>
    <title>ProductsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class=<%=type%>>
        <%= msg %>
      </div>
    <%  end %>
    <div class="account">
      <p><%= link_to "Home", root_path %></p>
      <%if current_user%>
        <p><%= link_to "Logout", session_path, method: :delete  %></p>
      <% else %>
        <p><%= link_to "Sign up", new_users_path %> | 
        <%= link_to "Login", new_session_path %></p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>